body {
  background-color: pink;
}

.page-title {
  margin: 20px;
}

.selected {
  background-color: yellow;
}

.item-quantity {
  padding: 4px;
}

.items,
.cart,
.item-detail,
.admin {
  margin: 20px;
}
