<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/script.js"></script>
  <div id="mainDiv">
    <input id="problem" type="text" hidden="true" placeholder="problem"></input>
    <input id="errorText" type="text" hidden="true" placeholder="errorText"></input>
    <input id="commit" type="text" hidden="true" placeholder="commit"></input>
    <button id="submit" hidden="true">Submit</button>
    <p id="successMsg"></p>
  </div>
</body>

</html>