<html>
  <body>
    <h1>Add a new bigfoot sighting!</h1>
    <form action="/sighting" method="POST">
      <label for="month">Month:</label><br />
      <input type="text" id="month" name="MONTH" /><br />

      <label for="date">Date:</label><br />
      <input type="text" id="date" name="DATE" /><br />

      <label for="state">State:</label><br />
      <input type="text" id="state" name="STATE" /><br />

      <label for="county">County:</label><br />
      <input type="text" id="county" name="COUNTY" /><br />

      <label for="location_details">location details:</label><br />
      <input type="text" id="location_details" name="LOCATION_DETAILS" /><br />

      <label for="nearest_town">Nearest Town:</label><br />
      <input type="text" id="nearest_town" name="NEAREST_TOWN" /><br />

      <label for="nearest_road">Nearest Road:</label><br />
      <input type="text" id="nearest_road" name="NEAREST_ROAD" /><br />

      <label for="observed">Observed:</label><br />
      <input type="text" id="observed" name="OBSERVED" /><br />

      <label for="also_noticed">Also Noticed:</label><br />
      <input type="text" id="also_noticed" name="ALSO_NOTICED" /><br />

      <label for="other_witnesses">Other Witnesses:</label><br />
      <input type="text" id="other_witnesses" name="OTHER_WITNESSES" /><br />

      <label for="other_stories">Other Stories:</label><br />
      <input type="text" id="other_stories" name="OTHER_STORIES" /><br />

      <label for="time_and_conditions">Time and Conditions:</label><br />
      <input
        type="text"
        id="time_and_conditions"
        name="TIME_AND_CONDITIONS"
      /><br />

      <label for="environment">Environment:</label><br />
      <input type="text" id="environment" name="ENVIRONMENT" /><br />

      <label for="report_number">Report Number:</label><br />
      <input type="text" id="report_number" name="REPORT_NUMBER" /><br />

      <label for="report_class">Report Class:</label><br />
      <input type="text" id="report_class" name="REPORT_CLASS" /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
