<html>
  <body>
    <form action="/recipe" method="POST">
      <label for="label">recipe label:</label><br />
      <input type="text" id="label" name="label" /><br />
      <label for="ingredients">ingredients:</label><br />
      <input type="text" id="ingredients" name="ingredients" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
