

<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <% items.forEach(item => { %>

    <div onclick="turn(this)" class="white">
      <%= item.category %>: <%= item.name %> (<%= item.price %>)
    </div>
    <% }) %>
  </body>
</html>
